/*----------------- The Following is code for index.html first -----------------*/

/* vvv CSS for the main body and styles vvv */

@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto+Mono&family=Roboto:wght@500&family=Space+Mono&display=swap');

body {
    max-width: 1600px;
    margin: 0 auto;
}

/* vvv CSS for the header and navigation bar vvv */

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #87BFFF;
    color: #004AAD;
    font-family: "Roboto", "Archivo", sans-serif;
}

.logo {
    width: 70%;
    transition: transform .5s;
}

.logo:hover {
    transform: scale(1.3);
}

nav {
    display:flex;
    justify-content: space-around;
    align-self: center;
    color: #004AAD;
}

nav a {
    text-align: center;
    text-decoration: none;
    font-size: 130%;
    transition: transform .5s;
}
 nav a:hover {
    color: #C1EDCC;
    transform: scale(1.5);
 }

 /* ^^^ CSS for the header and navigation bar ^^^ */

/* vvv CSS for the index.html body of the program vvv */

.home-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#fam-img {
    width: 100%;
}

.h1_title {
    grid-column: 4/6;
    grid-row: 1/2;
    text-align: center;
    color: #004AAD;
    font-family: "Roboto", "Archivo", sans-serif;
    padding-top: 50px;
    transition: transform .5s;
}

.h1_title:hover {
    transform: scale(1.5);
}

.home-intro {
    grid-column: 2/8;
    color: #FF914D;
    text-align: center;
    font-family: "Space Mono", "Roboto Mono", sans-serif;
    margin-bottom: 40px;
}

#couple-img {
    grid-column: 2/4;
    justify-self: center;
    grid-row: 4/7;
    width: 100%;
    border: 7px solid #C1EDCC;
    margin-top: 20px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

#couple-img:hover {
    opacity: .9;
    transform: scale(1.1);
}

#individual-img:hover {
    opacity: .9;
    transform: scale(1.1);
}

#individual-img {
    grid-column: 6/8;
    justify-self: center;
    grid-row: 4/7;
    width: 100%;
    border: 7px solid #C1EDCC;
    margin-top: 20px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

/* #couple-text {
    grid-column: 2/4;
    grid-row: 7/8;
    align-self: center;
    text-align: center;
    background-color: #C1EDCC;
    border: 3px solid #FF914D;
    color: #FF914D;
    padding: 10px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
} */

/* ------------------------------------------------------------------------------- */
/* The flip card container - holds the above couple text edits with styles */
.flip-card-couple {
    width: 400px;
    height: 200px;
    perspective: 1000px; /*Remove this if you don't want the 3D effect */
    grid-column: 2/4;
    grid-row: 7/8;
    align-self: center;
    text-align: center;
    background-color: #C1EDCC;
    border: 3px solid #FF914D;
    color: #FF914D;
    padding: 10px;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 10px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card-couple:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #C1EDCC;
    color: #FF914D;
    align-self: center;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #C1EDCC;
    color: #FF914D;
    transform: rotateY(180deg);
  }

  /* The flip card container - holds the below individual text edits with styles */
.flip-card-individual {
    grid-column: 6/8;
    grid-row: 7/8;
    align-self: center;
    text-align: center;
    background-color: #C1EDCC;
    border: 3px solid #FF914D;
    color: #FF914D;
    padding: 10px;
    box-shadow: 5px 5px 10px #6f7364;
    width: 400px;
    height: 200px;
    perspective: 1000px; /*Remove this if you don't want the 3D effect */
    margin-top: 15px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card-individual:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #C1EDCC;
    color: #FF914D;
    align-self: center;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #C1EDCC;
    color: #FF914D;
    transform: rotateY(180deg);
  }
  
  /* The flip card container - holds the below individual text edits with styles */
  /* ------------------------------------------------------------------------------- */

/* #individual-text {
    grid-column: 6/8;
    grid-row: 7/8;
    align-self: center;
    text-align: center;
    background-color: #C1EDCC;
    border: 3px solid #FF914D;
    color: #FF914D;
    padding: 15px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
} */

#home-bottom-title {
    grid-column: 2/8;
    grid-row: 8/9;
    align-self: center;
    text-align: center;
    color: #004AAD;
    transition: transform .5s;
}

#home-bottom-title:hover {
    opacity: .9;
    transform: scale(1.1);
}



/* ^^^ CSS for the index.html body of the program ^^^ */

/* vvv CSS for the work_hist.html body of the program vvv */

.work-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

.work_title {
  grid-column: 4/6;
  grid-row: 1/2;
  text-align: center;
  color: #004AAD;
  font-family: "Roboto", "Archivo", sans-serif;
  padding-top: 50px;
  transition: transform .5s;
  align-self: center;
}

.work_title:hover {
  transform: scale(1.2);
}

#upper-work-para {
  grid-column: 2/8;
  grid-row: 2/3;
  color: #FF914D;
  text-align: center;
  font-family: "Space Mono", "Roboto Mono", sans-serif;
  font-size: large;
  margin-bottom: 40px;
  align-self: center;
}

#skills-title {
  grid-column: 4/6;
  grid-row: 3/4;
  text-align: center;
  color: #004AAD;
  font-family: "Roboto", "Archivo", sans-serif;
  padding-top: 50px;
  padding-top: 0px;
  align-self: flex-end;
}

#skills-section {
  grid-column: 2/8;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: 1fr 45px 1fr;
  font-family: "Space Mono", "Roboto Mono", sans-serif;
  background-color: #C1EDCC;
  border: 2px solid #FF914D;
  transition: transform .5s;
  margin-bottom: 50px;
}

#skills-section:hover {
  transform: scale(1.2);
}

#skills-section p {
  align-self: center;
  margin: 0 auto;
  color: #FF914D;
}

#standing-divider {
  background-color: #FF914D;
  margin: 10px;
}

#skills-list {
  align-self: center;
  margin: 0 auto;
  color: #FF914D;
}

#occupations-title {
  grid-column: 4/6;
  grid-row: 5/6;
  text-align: center;
  color: #004AAD;
  font-family: "Roboto", "Archivo", sans-serif;
  padding-top: 50px;
  padding-bottom: 10px;
  align-self: flex-end;
}

#past-occ-grid {
  grid-row: 6/10;
  grid-column: 2/8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
}

#becks-img {
  border: 5px solid #FF914D;
  margin-right: 50px;
  transition: transform .5s;
}

#becks-img:hover {
  opacity: .9;
  transform: scale(1.1);
}

#becks-para {
  border: 5px solid #FF914D;
  margin-right: 50px;
  padding: 15px;
  background-color: #C1EDCC;
  font-family: "Space Mono", "Roboto Mono", sans-serif;
  color: #FF914D;
  transition: transform .5s;
}

#becks-para:hover {
  transform: scale(1.2);
}

#sbd-img {
  border: 5px solid #FF914D;
  margin-left: 50px;
  transition: transform .5s;
}

#sbd-img:hover {
  opacity: .9;
  transform: scale(1.1);
}


#sbd-para {
  border: 5px solid #FF914D;
  margin-left: 50px;
  padding: 15px;
  font-family: "Space Mono", "Roboto Mono", sans-serif;
  background-color: #C1EDCC;
  color: #FF914D;
  transition: transform .5s;
}

#sbd-para:hover {
  transform: scale(1.2);
}

#education-title {
  grid-column: 4/6;
  grid-row: 10/11;
  text-align: center;
  color: #004AAD;
  font-family: "Roboto", "Archivo", sans-serif;
  padding-top: 50px;
  align-self: flex-end;
}

#education-section {
  grid-column: 3/7;
  grid-row: 11/13;
  color: #FF914D;
  text-align: center;
  font-family: "Space Mono", "Roboto Mono", sans-serif;
  margin-bottom: 40px;
  border: 3px solid #FF914D;
  background-color: #C1EDCC;
  transition: transform .5s;
}

#education-section:hover {
  transform: scale(1.1);
}

#education-section p {
  justify-self: center;
  align-self: center;
  margin: 50px auto;
}

#work-bottom-title {
  grid-column: 2/8;
  grid-row: 13/14;
  align-self: center;
  text-align: center;
  font-family: "Roboto", "Archivo", sans-serif;
  color: #004AAD;
  transition: transform .5s;
}

#work-bottom-title:hover {
  opacity: .9;
  transform: scale(1.1);
}

/* ^^^ CSS for the work_hist.html body of the program ^^^ */

/* vvv CSS for the experience.html body of the program vvv */

#image-grid {
  display: grid;
  grid-row: 1/4;
  grid-column: 1/9;
  margin-top: 50px;
}

#code-img {
  grid-row: 1/3;
  grid-column: 3/5;
  transition: transform .5s;
}

#code-img:hover {
  transform: scale(1.2);
}

#laptop-img {
  grid-row: 2/4;
  grid-column: 4/6;
  transition: transform .5s;
}

#laptop-img:hover {
  transform: scale(1.2);
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#exp-title {
  text-align: center;
  grid-column: 4/6;
  grid-row: 1/2;
  text-align: center;
  color: #004AAD;
  font-family: "Roboto", "Archivo", sans-serif;
  padding-top: 50px;
  transition: transform .5s;
}

#exp-title:hover {
  transform: scale(1.2);
}

#exp-para {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  grid-column: 2/8;
  grid-row: 2/3;
  font-family: "Space Mono", "Roboto Mono", sans-serif;
  color: #FF914D;
}

#coding-projects-title {
  text-align: center;
  font-family: "Roboto", "Archivo", sans-serif;
  color: #004AAD;
}

.coding-projects {
  background-color: #C1EDCC;
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  grid-column: 3/7;
  grid-row: 3/6;
  color: #FF914D;
  font-family: "Space Mono", "Roboto Mono", sans-serif;
  border: 3px solid #FF914D;
  transition: transform .5s;

}

.coding-projects:hover {
  transform: scale(1.1);
}


#exp-bottom-title {
  grid-column: 2/8;
  grid-row: 6/7;
  align-self: center;
  text-align: center;
  font-family: "Roboto", "Archivo", sans-serif;
  color: #004AAD;
  transition: transform .5s;
}

#exp-bottom-title:hover {
  opacity: .9;
  transform: scale(1.1);
}

/* ^^^ CSS for the experience.html body of the program ^^^ */

/* vvv CSS for the footer vvv */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #87BFFF;
    color: #004AAD;
    padding: 10px;
    font-size: 120%;
    font-family: "Roboto", "Archivo", sans-serif;
}

footer a {
    text-decoration: none;
    color: #004AAD;
    transition: transform .5s;
}

footer a:hover {
    color: #C1EDCC;
    transform: scale(1.5);
}
/* ^^^ CSS for the footer ^^^ */